// Breakpoints
$breakpoints: ( "xx-small": 379px, "x-small": 479px, "small": 767px, "medium": 992px, "large": 1280px, "x-large": 1640px);
/// Mixin helps to use media query
///
/// @access public
///
/// @param {String} $breakpoint - breakpoint from $breakpoints
///
/// @require {Map} $breakpoints - map with breakpoint values
///
/// @example scss
/// .container {
///     @include respond-to(large) {
///       width: 992px;
///     }
///     @include respond-to(medium) {
///       width: 768px;
///     }
/// }
///
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
  @else {
    @media (min-width: $breakpoint) {
    	@content;
    }
  }
}

@mixin card($background-color: $color-card-background, $text-color: $color-card-text, $padding: 2em, $box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), $border-radius: $border-radius-big) {
  display: block;
  padding: $padding;
  background-color: $background-color;
  color: $text-color;
  border-radius: $border-radius;
	box-shadow: $box-shadow;
	position: relative;
	z-index: 1;
}

@mixin light() {
	background-color: $color-background;
	color: $color-text;
}

@mixin dark() {
  background-color: $color-background-dark;
  color: $color-text-dark;
}

@mixin darkest() {
	background-color: $color-background-darkest;
	color: white;
}
