// mark {
//   transition: box-shadow 0.3s, color 0.3s;
//   padding: 0 0.1em;
//   color: $color-primary;
//   background: none;
//   @include respond-to(medium) {
//     box-shadow: inset 0px -4px 0px $color-primary;
//     &:hover {
//       box-shadow: inset 0 -0.55em 0 0 $color-primary;
//       color: inherit;
//     }
//   }
// }

mark {
	transition: box-shadow 0.3s, color 0.3s;
	color: inherit;
	background: none;
	box-shadow: inset 0 -0.6em 0 0 $color-primary;
}
